<component name="ArtifactManager">
  <artifact type="war" name="SpringRtlTest:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="rtl_test-1.0-SNAPSHOT.war">
      <element id="artifact" artifact-name="SpringRtlTest:war exploded" />
    </root>
  </artifact>
</component>